node_modules/
dist/
.env
.angular/
.vscode/
.DS_Store
Thumbs.db
build.log
error.log
.vercel/

# Databases
*.db
*.db-journal
dev.db

# Zips and Cache
*.zip
backend/cache/
*.log
DESPLEGAR_DESDE_GITHUB_3X3.bat


